%h1 Pi Settings
- @pi_settings.each do |pi_setting|
  %h3= pi_setting.display ? "Display On" : "Display Off"
  %h3= pi_setting.capture ? "Capture On" : "Capture Off"
  = link_to 'Edit', edit_pi_setting_path(pi_setting)

%br

-#= link_to 'New Pi setting', new_pi_setting_path
